* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
    background-color: #F2F2F2;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    position: fixed;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4D6471;
    padding: 2rem 1.5rem;
}

.nav-logo {
    font-size: 30px;
    font-weight: 500;
    color: white;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 3rem;
}

.nav-link{
    font-size: 19px;

    color: white;
}

.nav-link:hover{
    border-bottom: 5px solid #F2F2F2;
}

.flex-container {
    padding-top: 4rem;
    margin-top: 7rem;
    display: flex;
}

.map {
    background-image: url("Map with Components.svg");
    padding-left: 5%;
    height:100%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 65%;
}