@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    font-family: 'Roboto';
    font-size: 62.5%;
    background-color: #F2F2F2;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6B7A94;
    z-index: 1;
}

.nav-logo {
    font-size: 28px;
    font-weight: 500;
    color: white;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 3rem;
}

.nav-link {
    font-size: 19px;
    color: white;
}

.nav-link:hover {
    border-bottom: 5px solid #F2F2F2;
}

.intro{
padding-left: 10%;
padding-right: 10%;
   padding-top: 10%;
   z-index: 1;
}

h1{
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
    text-align: justify;
}

.main {
    display: flex;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 10%;
    align-self: flex-start;
    color: #7998A9;
    font-weight: lighter;
    font-size: 50px;
    padding-left: 10%;
}

.content {
    text-align: justify;
    font-size: 20px;
    padding-right: 5%;
    padding-left: 10%;
}

.flex-container {
    padding-top: 8rem;
    margin-top: 5rem;
    display: flex;
}

#consortium {
    background-color: #E7E7E7;
}

#consortium_sticky{
    padding-left: 30%;
    padding-bottom: 20px;
}

#map {
    background-image: url("Map with Components.svg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center right;
    position: relative;
}

#contact{
    background-color: #E7E7E7;
}

.map {
    height: 100%;
    width: 100%;
    visibility: hidden;
}

.left_side {
    width: 60%;
}

h4{
    font-size: 40px;
}

#test{
    font-size: 1.6vw;
    position: absolute; left: 23%; top: 36%;
    width:7vw;
    height: 5vh;
    cursor: pointer;
    background: transparent;
    border: none !important;
    font-size:0;
}

#info_container{
    width: 100%;
    font-size: 20px;
    padding: 5%;
    display: none;
    border-radius: 10px;
    background-color: #E0E0E0;
    color: #6c926f;
    position: -webkit-sticky;
    position: sticky;
    top: 17%;
}

